@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: transparent;

    
}


#meer {display: none;}

h1 {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}

a {
    text-decoration: none;
}

a h3.sluiten {
    position: absolute;
    display: inline;
    color: black;
    width: auto;
    float: right;
    right: 475px;
    top: 80px;

}

.hoeveelheid {
    float: left;
    position: absolute;
    display: inline;
    width: auto;
    left: 475px;
    top: 80px;
}
.pop-up {
    position: relative;
    background-color: #E4DFEB;
    border-radius: 29px;
    width: 1000px;
    height: 775px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    box-shadow: 2px 2px 2px rgb(102, 102, 102);
}
.pop-up img.coverphoto {
    border-radius:29px 29px 0px 0px;
    width: 100%;
    height: 325px;
    object-fit: cover;
}

.pop-up p {
    padding-bottom: 50px;
}

.pop-up img.logobackground  {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 80px;
    height: 250px;
    transform:rotate(150deg) ;

}
.pop-up img.logobackground2  {
    position: absolute;
    z-index: -1;
    right: 150px;
    height: 250px;
    transform:rotate(0deg) ;

}
.pop-up img.logobackground3  {
    position: absolute;
    z-index: -1;
    left: 50px;
    height: 250px;
    transform:rotate(180deg) ;

}
.pop-up img.logobackground4  {
    position: absolute;
    z-index: -1;
    bottom: 30px;
    left: 350px;
    height: 250px;
    transform:rotate(190deg) ;

}
.pop-up img.logobackground5  {
    position: absolute;
    z-index: -1;
    left: 650px;
    height: 250px;
    transform:rotate(90deg) ;

}
.pop-up img.logobackground6  {
    position: absolute;
    z-index: -1;
    left: 50px;
    height: 250px;

}

.bottom-menu {
    text-align: center;
    background-color: #B89BE0;
    border-radius: 0px 0px 29px 29px;
    height: 60px;
    width: 100%;
    top: 715px;
    position: absolute;
    
}



.pop-up h2 {
    margin-left: 10%;
    font-weight: bold;
    font-size: 35px;
    color: #766889;
    float: left;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.projecten h3 {
    color: black;
}

.pop-up h2, h4, p {
    margin-left: 10%;
}

.pop-up p {
    margin-right: 10%;
}

.pop-up h3 {
    float: right;
    margin-top: 45px;
    margin-right: 10%;
    font-size: 20px;

}

.pop-up h4 {
    margin-top: 110px;
}
.bottom-menu a {
    
    display: inline-block;
    text-decoration: none;
    padding-left: 25px;
    margin: 1px;
    color: black;
    

}

.bottom-menu a:first-child {
    padding-left: 0px;
}

.bottom-menu h5 {
    font-size: 18px;
    padding: 0px;
    margin: 1px;
    padding: 15px 0;
    
}

.bottom-menu a.active {
    color: white;
    
    
}
.bottom-menu a:hover {
    color: white;
}

#myBtn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #766889;
    margin-bottom: 10px;
    margin-left: 9.5%;
    margin-bottom: 5%;
}
#myBtn:hover {
    color: #B89BE0;
    
}

.left.ttl {
    float: left;
    top: 350px;
}

.right.ttr {
    float: right;
    top: 350px;
}

.left, .right {
    width: 30px;
    cursor: pointer;
}

.left {
    float: left;
    transform: rotate(180deg);
    position: absolute;
    top: 500px;
    left: 350px;
    color:rebeccapurple;
}

.right {
    float: right;
    position: absolute;
    top: 500px;
    right: 350px;
}

.menu {
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

button {
    display: block;
    width: 90%;
    height: 120px;
    border: 0px;
    background-color: white;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 2px 2px 2px rgb(102, 102, 102);
}

button div {
    display: inline-block;
    float: left;
}
button .image-web {
background: url("../img/web-idle.svg") no-repeat;
width: 50px;
height: 50px;
padding: 10px;
margin: 10px;
margin-left: 50px;
}

button .image-ar {
    background: url("../img/ar-idle.svg") no-repeat;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    }

button .image-mobile {
        background: url("../img/mobile-idle.svg") no-repeat;
        width: 50px;
        height: 50px;
        padding: 10px;
        margin: 10px;
        margin-left: 50px;
        }

        button .image-motion {
            background: url("../img/motion-idle.svg") no-repeat;
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 10px;
            margin-left: 50px;
            }

            button .image-dm {
                background: url("../img/digital-making-idle.svg") no-repeat;
                width: 50px;
                height: 50px;
                padding: 10px;
                margin: 10px;
                margin-left: 50px;
                }

button:hover .image-web {
    background: url("../img/web.svg") no-repeat;
}

button:hover .image-ar {
    background: url("../img/ar.svg") no-repeat;
}

button:hover .image-mobile {
    background: url("../img/mobile.svg") no-repeat;
}

button:hover .image-motion {
    background: url("../img/motion.svg") no-repeat;
}

button:hover .image-dm {
    background: url("../img/digital-making.svg") no-repeat;
}

.btntekst p, .btntekst h2 {
    
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
}

.btntekst {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.btntekst h2 {
    margin-top: 0px;
}

.btntekst p {
    margin-top: 30px;
}

.btntekst h2 {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

button:hover h2 {
    color:black;
}
button:hover p {
    color: white;
}

button:hover {
    background-color: #B89BE0;
}

button:hover img {
    background-image: url(/img/mobile.svg);
}

.event1, .event2, .event3,.event4,.event5,.event6,.event7,.event8,.event9,.event10,.event11, .event12 {
    display:none;
}

.chooseTime {
    height: 120px;
    width: 998px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y:hidden;
    overflow-x: scroll;
    bottom: 0;
    position: absolute;
    border-radius: 0px 0px 29px 29px;


}
.chooseTime .item {
    background-color:#E4DFEB ;
    height: 120px;
    border-top: 1px solid #B89BE0;
    min-width: 33%;
    padding-top: 1%;
    padding-left: 1%;
}
.chooseTime h6, .chooseTime h5 {
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
}

.chooseTime h5 {
    color: #766889;
    padding-top: 15px;
}

.chooseTime h6 {
    padding-top: 5px;
    font-size: 12px;
}

.chooseTime .active {
    background-color: #B89BE0;
    

}
.chooseTime .active h5 {
    color: black;
}

.chooseTime .item:hover {
    background-color: #B89BE0;
    cursor: pointer;
}
.chooseTime::-webkit-scrollbar {
    width: 100px;
    height: 5px;
    background: transparent;

}
.chooseTime::-webkit-scrollbar-track {
    border-radius: 10px;
}

.chooseTime::-webkit-scrollbar-thumb {
    background: #766889;
    border-radius: 10px;
}

.chooseTime::-webkit-scrollbar-thumb:active {
    background: (68,68,68);
    border-radius: 10px;
}


.chooseTime .item:hover h5 {
    color: black;
}

.chooseTime .event1, .chooseTime .event2,.chooseTime .event3,.chooseTime .event4,.chooseTime .event5,.chooseTime .event6,.chooseTime .event7,.chooseTime .event8,.chooseTime .event9,.chooseTime .event10,.chooseTime .event11,.chooseTime .event12 {
    display: block;
}

.event1 {
    display: block;
}

.timetableevent h2 {
    display: block;
    margin-top: 80px;
    margin-left: 10%;
}

.timetableevent p {
    padding-top: 200px;
}

.timetableevent img {
    width: 250px;
    height: 500px;
    object-fit: cover;
}

.timetablepu {
    height: 500px;
}



h2.uur {
    position: absolute;
    right: 0;
    padding-right: 10%;
}